.App {
  text-align: center;
}

.header {
  padding: 30px;
  background-color: dodgerblue;
  color: #fff;
}

.employee-list {
  margin-top: 60px;
}

.employee-list-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
  line-height: 0;
}

.employee-list .table {
  width: 100%;
}

.employee-list .table thead {
  font-weight: bold;
}

.employee-list table td {
  text-align: center;
}

.employee-list .table tbody > tr {
  line-height: 2;
}

.employee-list .table .action-buttons {
  display: flex;
  justify-content: space-evenly;
}

.add-new-employee {
  margin-bottom: 60px;
  line-height: 2.5;
}

.add-employee-btns {
  margin-right: 30px;
  margin-left: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
